<navbar></navbar>
<div class="container-wrapper">
    <div class="about-text">
        <div class="paragraph">
            Alors que le monde (il me semble) entre dans une forme de crise politique (Gilets jaunes, Brexit, Trump, Catalogne, etc.), mis en difficulté par la complexité des liens et organisations qui régissent nos sociétés, 
            dans un monde où l’information (vraie ou fausse) circule à la vitesse de l’éclair grâce au web et aux réseaux sociaux, et les émotions deviennent virales, il est un véritable enjeu que de redonner du sens à la notion 
            de démocratie en réinventant nos modes de décisions, de collaboration et de répartition du pouvoir (informations, décisions, actions) sans pour autant faire n’importe quoi.
        </div>
        <br/>
        <div class="paragraph">
            Il s'agit d'une plateforme collaborative inspirée des cahiers de doléance (cf. Révolution Française) dont l’objectif est de permettre à une organisation de partager une liste de points 
            d’améliorations de façon transparente. Une sorte de réseau social pour le progrès collectif.
        </div>
    </div>
</div>
