<div class="redact-proposition" data-ng-init="init()">
    <div class="container-div">
        
        <!-- Header -->
        <div class="header">
            <div class="header-content proposition">
                <i class="icon fas fa-pen"></i>
                <div class="title">New proposition</div> 
            </div>
        </div>

        <!-- Content -->
        <div class="content">

            <!-- Title -->
            <form class="redact-content" name="myForm">
                <div class='input-area'>
                    <div class="text">Title</div>
                    <div class="input-area">
                        <input  type="text" name="title"
                                ng-model="title"
                                required
                                placeholder="Title"/>
                    </div>
                </div>

                <!-- Description -->
                
                <div class="input-area">
                    <div class="text">Description</div>
                    <div class="input-area">
                            <textarea type="text" name="description"
                                    ng-model="description"
                                    required
                                    placeholder="Description">
                            </textarea>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Footer -->
    
            <div class="footer">
                <!-- Action buttons -->
                <div class="actions">
                    <div class="action">
                        <div class="button grey" ng-click="reset()">Cancel</div>
                    </div>
                    <div class="action">
                        <div class="button blue"
                            ng-class="{
                                'is-disabled': !myForm.title.$valid || !myForm.description.$valid
                            }"
                            ng-click="submitProp()">Publish
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
