
.container-wrapper {
    padding:10px;
    height: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); 
    .alert {
        @include content;
        width: 40%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}
.login-form .form-control {
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    background: $grey none repeat scroll 0 0;
}
.main-div {
    max-width: 40%;
    border-radius: 2px;
    margin: 10px auto 30px;
    background-color: $white;
    padding: 50px 70px 70px 70px;

    @media screen and (max-width: 700px) {
        max-width: 100%;
    }
    .login {
        @include title;
        font-size: 25px;
        margin-bottom: 20px;
    }
    > p {
        @include content;
    }
}

.login-form .form-group {
    margin-bottom: 10px;
}
.login-form { 
    text-align: center;
    .forgot {
        margin-bottom: 30px;
        .forgot-text {
            @include content;
            text-align: left;
            color: $darkGrey;
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .btn.btn-primary {
        @include title;
        padding: 0;
        width: 100%;
        height: 50px;
        color: $white;
        line-height: 50px;
        border-color: $orange;
        background-color: $orange;
    }
}

