<navbar></navbar>
<div class="home-wrapper" ng-init='init()'>
    <redact get="getPropositions"></redact>

    <div class="dropdowns">

        <!-- Search bar-->
        <form class="navbar-form" role="search">
            <div class="input-group add-on">
                <input class="form-control" placeholder="Search" name="srch-term" id="myInput" type="text" ng-model="search">
                <i class="fas fa-search"></i>
            </div>
        </form>
        <!-- Dropdown order by-->
        <div class="dropdown">
            <span>Order by: </span>
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle button-order" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-bind-html="filtered.text">
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" ng-click="orderItems('date')">Date</a>
                    <a class="dropdown-item" ng-click="orderItems('status')">Status</a>
                    <a class="dropdown-item" ng-click="orderItems('vote')">Favorite</a>
                </div>
            </div>
        </div>
    
        <!-- Dropdown filter by-->
        <div class="dropdown">
            <span>Filter by: </span>
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle button-order" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-bind-html="filteredItems.text">
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" ng-click="filterItems('all')">All</a>
                    <a class="dropdown-item" ng-click="filterItems('validated')">Validated</a>
                    <a class="dropdown-item" ng-click="filterItems('refused')">Refused</a>
                    <a class="dropdown-item" ng-click="filterItems('pending')">Pending</a>
                </div>
            </div>
        </div>
        <div class="like">  
            <div class="like-num">
                <i class="far fa-thumbs-up"></i>
            </div>
        </div>
        <span class="slash">/</span>
        <div class="dislike">
            <div class='like-num' >
                <i class="far fa-thumbs-down"></i>
            </div>
        </div>
    </div>

    <div class="proposition-wrapper" ng-repeat="prop in ordered | filter:searchFilter">
        <div class="proposition"  
            ng-class="{'validated': prop.pro_status == 1 ,'refused': prop.pro_status == 2}"
            data-toggle="modal" 
            data-target="#modalSeeProp" 
            ng-click="select(prop)">{{ prop.pro_title}}</div>
        <div class="votes" ng-if="prop.votes.length">  
            <span class="like">{{prop.likes}}</span>
            <span class="slash">/</span>
            <span class="dislike">{{prop.dislikes}}</span>
        </div>
    </div>

    <div class="modal fade" id="modalSeeProp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header prop-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title prop-title" id="exampleModalLabel">{{ selected.pro_title }}</h4>
                </div>
                <div class="separation"></div>
                <div class="modal-body prop-body">
                    <div class="content">{{selected.pro_description}}</div>
                    <div class="author">
                        <span class="by">by</span>
                        <span class="author-infos">{{selected.usr_firstname }} {{selected.usr_lastname }}</span>
                    </div>
                    <div class="date">{{ date }}</div>
                </div>
                <div class="votes">
                    <div class="like">
                        <i class="far fa-thumbs-up" ng-click="like(true)"></i>
                    </div>
                    <div class="dislike">
                        <i class="far fa-thumbs-down" ng-click="like(false)"></i>
                    </div>
                </div>
                <div class="status-info" ng-class="{'accepted': selected.pro_status == 1, 'refused' : selected.pro_status == 2}">
                    {{ selected.pro_status == 1 ? 'Proposition has been accepted' : selected.pro_status == 2 ? 'Proposition has been refused' : '' }}
                </div>
                <div class="modal-footer prop-footer">
                    <button ng-if="isAdmin" type="button" class="btn btn-success success" data-dismiss="modal" ng-click="validate(true)">Validate</button>
                    <button ng-if="isAdmin" type="button" class="btn btn-danger danger" data-dismiss="modal" ng-click="validate(false)">Refuse</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" ng-if="selected.usr_id == isSelf">
                        <a href="#editModal" data-toggle="modal" data-dismiss="modal">Edit</a></button>

                    <button type="button" class="btn btn-warning" ng-if="selected.usr_id == isSelf">
                        <a href="#exampleModal" data-toggle="modal" data-dismiss="modal">Delete</a></button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal edit proposition -->

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title edit-prop-title" id="exampleModalLabel">Edit proposition</div>
                </div>
                <div class="modal-body edit-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Title</label>
                            <input type="text" class="form-control" id="recipient-name" ng-model='selected.pro_title'>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Description</label>
                            <form class="redact-content" name="myForm">
                                <textarea type="text" name="description" ng-model='selected.pro_description'>{{ selected.pro_description }}</textarea>
                            </form>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editProp()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal delete proposition -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content confirmation-content">
                <div class="modal-header confirmation-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body confirmation-body">
                    <span>Are you sure you want to delete this proposition?</span>
                </div>
                <div class="modal-footer confirmation-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="deleteProposition()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
