.home-wrapper {
    margin-top: 40px;
    padding:10px;
    height: 100%;
    
    .proposition-wrapper {
        display: flex;
        align-items: center;
        margin: 0 30px 30px 30px;
        .proposition {
        width: 80%;
        padding: 20px;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 30px;
        text-align: center;
        border: 2px solid rgba($violet, 0.1);
        background-color: rgba($green, 0.1);
        }
        .like, .dislike {
            display: flex;
            align-items: center;
            margin-right: 10px;
            > i {
                font-size: 30px;
                margin-right: 20px;
                cursor: pointer;
                &.fa-thumbs-up {
                    color: $green;
                }
                &.fa-thumbs-down {
                    color: $red;
                }
            }
            .like-num {
                color: $green;
            }
            .dislike-num {
                color: $red;
            }
        }
    }

    .modal {
        .prop-body {
            min-height: 60vh;
        }
        .prop-header, .prop-footer {
            border: none;
        }
        .prop-title {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            padding: 0px 70px;
            text-align: center;
        }
        .prop-body {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            padding: 0px 70px;
            text-align: center;
            .content {
                margin-bottom: 30px;
            }
        }
        .separation {
            margin: 0px 50px;
            border: 0.5px solid rgba($violet, 0.1);
        }
        .votes {
            display: flex;
            justify-content: center;
            .like, .dislike {
                display: flex;
                align-items: center;
                margin-right: 10px;
                > i {
                    font-size: 30px;
                    margin-right: 20px;
                    cursor: pointer;
                    &.fa-thumbs-up {
                        color: $green;
                    }
                    &.fa-thumbs-down {
                        color: $red;
                    }
                }
                .like-num {
                    color: $green;
                }
                .dislike-num {
                    color: $red;
                }
            }
        }
        .confirmation-body {
            max-height: 20vh;
        }
        .confirmation-header, .confirmation-footer {
            border: none;
        }
        .confirmation-body {
            display: flex;
            justify-content: center;
        }

        .edit-body {
            textarea {
                resize: none;
                width: 100%;
                height: 150px;
                padding: 15px 15px;
                border-radius: 5px;
                background-color: #ffffff;
                border: solid 1px #dfdedf;

            }
        }
    }
    button {
        > a {
            text-decoration: none;
        }
    }
}
