.home-wrapper {
    padding:10px;
    height: 100%;
    margin-top: 40px;

    .dropdowns {
        display: flex;
        margin-left: 15px;
        align-items: center;
        padding-bottom: 30px;
        .navbar-form {
            width: 56%;
            .input-group {
                width: 100%;
                > i {
                    top: 8px;
                    z-index: 9;
                    opacity: 0.3;
                    position: relative;
                    margin-left: -25px;
                }
                .form-control {
                    @include content;
                    width: 90%;
                    padding: 15px;
                    text-align: left;
                    border-radius: 5px;
                    border: 1px solid rgba($violet, 0.1);
                }
            }
        }
        .dr {
            display: flex;
            .dropdown {
                @include content;
                text-align: left;
                margin-left: 20px;
                .button-order {
                    min-width: 100px;
                    color: black;
                    margin-left: 10px;
                    border: solid 1px rgba($blue, 0.5);
                    background-color: rgba($blue, 0.15);
                }
                .dropdown-menu {
                    padding-left: 10px;
                }
                .dropdown-item {
                    padding: 5px;
                    cursor: pointer;
                    text-decoration: none;
                    color: black !important;
                    border-bottom: solid 1px rgba(#dfdedf, 0.3) !important;
                    &:last-child {
                        border: none !important;
                    }
                }
            }
        }
        .like, .dislike {
            width: 50px;
            .like-num {
                @include content;
                display: flex;
                font-size: 15px;
                align-items: center;
                > i {
                    cursor: pointer;
                    font-size: 30px;
                    margin: 0px 20px 0px 10px;
                    &.fa-thumbs-up {
                        color: $green;
                    }
                    &.fa-thumbs-down {
                        color: $red;
                    }
                }
            }
        }
        .like {
            margin-left: 30px;
        }
        .slash {
            font-size: 30px;
        }
        @media screen and (max-width: 500px) {
            width: 100%;
            margin-left: 0;
            @include small-content;
            flex-direction: column;
            .navbar-form {
                width: 100%;
                margin-left: 20px;
                .input-group {
                    height: 50px;
                    > i {
                        top: 23px;
                        margin-left: -100px;
                    }
                    .form-control {
                        @include small-content;
                        height: 130%;
                    }
                }
            }
            .dr {
                width: 100%;
                margin-top: 20px;
                flex-direction: column;
                .dropdown {
                    height: 60px;
                    display: flex;
                    margin-bottom: 20px;
                    padding-right: 10px;
                    align-items: center;
                    justify-content: space-between;
                    @include small-content;
                    text-align: left;
                    .btn-group {
                        width: 230px;
                        height: 60px;
                        .button-order {
                            @include small-content;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .dropdown-menu {
                        width: 100%;
                        .dropdown-item {
                            @include small-content;
                            padding: 20px;
                            font-size: 18px !important;
                        }
                    }
                }
            }
            .like, .dislike, .slash {
                display: none;
            }
        }
    }
    
    .proposition-wrapper {
        display: flex;
        align-items: center;
        margin: 0 30px 30px 30px;
        .proposition {
            @include content;
            width: 85%;
            padding: 20px;
            cursor: pointer;
            border-radius: 5px;
            margin-right: 30px;
            border: 1px solid rgba($violet, 0.1);
            background-color: rgba($violet, 0.03);
            &.validated {
                border: 1px solid rgba($violet, 0.1);
                background-color: rgba($green, 0.2);
            }
            &.refused {
                border: 1px solid rgba($violet, 0.1);
                background-color: rgba($red, 0.1);
            }
        }
        .votes {
            @include content;
            font-size: 20px;
            margin-left: 30px;
            .like {
                color: $green;
            }
            .dislike {
                color: $red;
            }

        }
        @media screen and (max-width: 500px) {
            width: 100%;
            margin: 0 10px 20px 10px;
            .proposition {
                @include small-content;
                width: 100%;
                margin-right: 20px;
            }
            .votes {
                display: none;
            }
        }
    }

    .modal {
        .prop-body {
            min-height: 60vh;
        }
        .prop-header, .prop-footer {
            border: none;
        }
        .prop-title {
            @include title;
            display: flex;
            margin-top: 30px;
            padding: 0px 70px;
            justify-content: center;

            @media screen and (max-width: 500px) {
                padding: 0 20px;
            }
        }
        .prop-body {
            display: flex;
            margin-top: 30px;
            padding: 0px 70px;
            text-align: center;
            flex-direction: column;
            .content {
                @include content;
                margin-bottom: 30px;
            }
            .author {
                .by, .author-infos {
                    @include content;
                }
            }
            .date {
                @include content;
                margin-bottom: 20px;
            }
            @media screen and (max-width: 500px) {
                padding: 0 20px;
            }
        }
        .separation {
            margin: 0px 50px;
            border: 0.5px solid rgba($violet, 0.1);
        }
        .votes {
            display: flex;
            margin-bottom: 20px;
            justify-content: center;
            .like, .dislike {
                width: 30px;
                display: flex;
                align-items: center;
                &:first-child {
                    margin-right: 20px;
                }
                > i {
                    font-size: 30px;
                    cursor: pointer;
                    margin-right: 20px;
                    &.fa-thumbs-up {
                        color: $green;
                    }
                    &.fa-thumbs-down {
                        color: $red;
                    }
                }
                .like-num {
                    color: $green;
                }
                .dislike-num {
                    color: $red;
                }
            }
        }
        .status-info {
            @include content;
            width: 100%;
            display: flex;
            justify-content: center;
            &.accepted {
                color: $green;
            }
            &.refused {
                color: $red;
            }
        }
        .edit-prop-title {
            @include title;
            text-align: left;
        }
        .confirmation-body {
            @include title;
            display: flex;
            font-size: 14px;
            max-height: 20vh;
            justify-content: center;
        }
        .confirmation-header, .confirmation-footer {
            border: none;
        }
        .modal-footer {
            @include content;
            text-align: right;
        }
        .edit-body {
            textarea {
                width: 100%;
                resize: none;
                height: 150px;
                padding: 15px 15px;
                border-radius: 5px;
                background-color: #ffffff;
                border: solid 1px #dfdedf;

            }
        }
    }
    button {
        > a {
            text-decoration: none;
        }
    }
}
