
<navbar></navbar>
<div class="profile-content no-border padding-24" ng-init='init()'>
    <div class="home">
        <div class="row">
            <div class="col-xs-12 col-sm-3 center">
                <span class="profile-picture">
                    <img class="img-responsive" alt="avatar"  ng-src="{{ response.data.usr_photo }}">
                </span>
                <button type="button" class="btn btn-primary edit-btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Edit profile</button>
            </div>

            <div class="col-xs-12 col-sm-9 member-infos">
                <h4 class="blue">
                    <span class="middle">{{ response.data.usr_firstname }} {{ response.data.usr_lastname }}</span>
                </h4>

                <div class="profile-user-info">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> First name: </div>

                        <div class="profile-info-value">
                            <span>{{ response.data.usr_firstname }}</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Last name: </div>

                        <div class="profile-info-value">
                            <span>{{ response.data.usr_lastname }}</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Email: </div>

                        <div class="profile-info-value">
                            <span>{{ response.data.usr_email}}</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Job: </div>

                        <div class="profile-info-value">
                            <span>{{ response.data.usr_job }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 member-about">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-small">
                        <h4 class="widget-title smaller">
                            Little About Me:
                        </h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">{{ response.data.usr_infos }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Edit your profile</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">First name:</label>
                            <input type="text" class="form-control" id="recipient-name" ng-model="response.data.usr_firstname">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Lastname:</label>
                            <input type="text" class="form-control" id="recipient-name" ng-model="response.data.usr_lastname">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Job:</label>
                            <input type="text" class="form-control" id="recipient-name" ng-model="response.data.usr_job">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">About me:</label>
                            <textarea class="form-control" id="message-text" ng-model="response.data.usr_infos"></textarea>
                        </div>
                        <input
                            style="display: none"
                            type="file" ng-click="" ng-model="response.data.usr_photo">
                        <button ng-click="">Change your profile picture</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submitForm()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

