
<navbar></navbar>
<div class="profile-content no-border padding-24">
    <div class="home">
        <div class="row">
            <div class="col-xs-12 col-sm-3 center">
                <span class="profile-picture">
                    <img class="img-responsive" alt="avatar"  src="http://bootdey.com/img/Content/avatar/avatar6.png">
                </span>
            </div>

            <div class="col-xs-12 col-sm-9">
                <h4 class="blue">
                    <span class="middle">John Doe</span>

                </h4>

                <div class="profile-user-info">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> First name </div>

                        <div class="profile-info-value">
                            <span>John</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Last name </div>

                        <div class="profile-info-value">
                            <span>Doe</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Email </div>

                        <div class="profile-info-value">
                            <span>johndoe@gmail.com</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Job </div>

                        <div class="profile-info-value">
                            <span>Haridresser</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="file" placeholder="add image"/>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-small">
                        <h4 class="widget-title smaller">
                            Little About Me
                        </h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <p>
                                My job is mostly lorem ipsuming and dolor sit ameting as long as consectetur adipiscing elit.
                            </p>
                            <p>
                                Sometimes quisque commodo massa gets in the way and sed ipsum porttitor facilisis.
                            </p>
                            <p>
                                The best thing about my job is that vestibulum id ligula porta felis euismod and nullam quis risus eget urna mollis ornare.
                            </p>
                            <p>
                                Thanks for visiting my profile.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

