a {
    @include content;
    display: flex;
    align-items: center;
    border: none !important;
    color: $white !important;
    font-size: 16px !important;

    .logo{
        width: 40px;
        height: 40px;
    }
}
.navbar {
    padding-left: 30px;
    padding-right: 30px;
    background-color: $violet;
}
.modal-backdrop.in {
    display: none;
}
.modal {
    .close {
        font-size: 20px;
    }
    .control-label, .form-check-label {
        @include title;
        font-size: 14px;
        text-align: left;
    }
    .form-control {
        @include content;
        text-align: left;
    }
    button {
        @include content;
    }
}
.members-modal {
    .modal-title {
        @include title;
        text-align: left;
    }
    .members-body {
        .member {
            @include content;
            text-align: left;
            display: flex;
            align-items: center;
            .member-img {
                > img {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }
            }
            .member-job {
                margin-left: 5px;
                font-style: italic;
            }
        }
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba($violet, 0.1);
        button {
            @include content;
            > a {
                text-decoration: none;
            }
        }
        
    }
    .members-footer {
        border-top: none;
    }
}

.confirmation-modal {
    .confirmation-body {
        @include title;
        font-size: 14px;
        display: flex;
        max-height: 20vh;
        justify-content: center;
    }
    .confirmation-header, .confirmation-footer {
        border: none;
    }
    button {
        @include content;
    }
}

        
