a {
    @include content;
    display: flex;
    align-items: center;
    border: none !important;
    color: $white !important;
    font-size: 16px !important;

    .logo{
        width: 40px;
        height: 40px;
    }
}
.navbar {
    padding-left: 30px;
    padding-right: 30px;
    background-color: $violet;
    @media screen and (max-width: 500px) {
        width: 100%;
    }
}
.modal-backdrop.in {
    display: none;
}
.modal-invite-member {
    .close {
        font-size: 20px;
    }
    .control-label, .form-check-label {
        @include title;
        font-size: 14px;
        text-align: left;
    }
    .form-control {
        @include content;
        text-align: left;
    }
    button {
        @include content;
    }
    @media screen and (max-width: 500px) {
        .close {
            font-size: 30px;
        }
        .modal-dialog {
            height: 95vh;
            margin: 0;
            .modal-content {
                height: 100%;
                .modal-header {
                    padding-top: 25px;
                }
                .modal-body {
                    padding-top: 30px; 
                    .form-control {
                        height: 50px;
                    }
                }
                .modal-footer {
                    padding-top: 30px;
                    > button {
                        padding: 15px;
                    }
                }
            }
        }
    }
}
.members-modal {
    .close {
        font-size: 20px;
    }
    .modal-title {
        @include title;
        text-align: left;
    }
    .members-body {
        .member {
            @include content;
            display: flex;
            text-align: left;
            align-items: center;
            .member-img {
                > img {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }
            }
            .member-job {
                margin-left: 5px;
                font-style: italic;
            }
        }
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba($violet, 0.1);
        button {
            @include content;
            > a {
                text-decoration: none;
            }
            &.button-x {
                display: none;
            }
        }   
    }
    .members-footer {
        border-top: none;
        button {
            @include content;
        }
    } 
    @media screen and (max-width: 500px) {
        .members-body {
            .btn {
                display: none;
            }
            .button-x {
                @include title;
                font-size: 20px;
                display: flex !important;
            }
        }
    }
}

.confirmation-modal {
    .confirmation-body {
        @include title;
        display: flex;
        font-size: 14px;
        max-height: 20vh;
        justify-content: center;
    }
    .confirmation-header, .confirmation-footer {
        border: none;
    }
    button {
        @include content;
    }
}

        
